
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Mono+One&display=swap');

:root{
    --background-color:#11121a;
    --text-color:rgb(255, 255, 255);
    --content-color:gray;
    --button-color:rgb(62,68,254);  
    --black-color:black;
    --line-color:gray;
    --hover-color:#222533;
    --background-over:#1c1f2b; 
    --rubik-family:font-family: "Rubik Mono One", monospace;
    --box-shadow: black;
}

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
    color:var(--text-color);

}


body{
    background:var(--background-color);
    line-height:1.5rem;
    color:var(--text-color);
    min-height:100vh;
    min-height:100dvh;
    display:flex;
    grid-template-columns: auto 1fr;
 

}

 

 /* _______________________________INSIDE BOX_________________________________START______________________________ */

 .info_container{
    position:absolute;
    top:107px;
    left:279px;
    width:1200px;
    height:500px;    /*background-color: blue;*/
    display:flex;
    flex-direction:column;
   
    /* gap:20px; */

    p.loved{
      
       
        /* padding:3px;     */
        font-size:16px;
        font-family:cursive;
        border-image:linear-gradient(to left, blue,red)1;
       
      
    }

    h1{
        font-size:22px;
        font-weight:400;
        letter-spacing: 0.06em;
        padding: 10px 0px;
        font-family: "Rubik Mono One", monospace;
        font-style:normal;
        text-align: start;
        background-image:linear-gradient(to left, blue, skyblue);
        background-clip:text;
        color:transparent;
        border:none;
        outline:none;

     
    }
}

.flex_row{
    display:flex;
    flex-direction:row;

    svg{
        fill:red;
        width:24px;
        height:24px;
        margin-right:20px;
        
    }

    p{
        font-size:14px;
    }

    .refer-to-rent{
        /* border:1px solid green; */
        font-size:1.4em;
        font-family: cusrive;
        height:40px;
        width:100px;
        padding:10px 20px;
        /* border-radius:15px; */
        /* background:var(--button-color); */
        background:linear-gradient(to left, rgb(0, 68, 255), var(--button-color));
        /* border:3px solid var(--button-color); */
        outline:none;
        
        border:none;
        position:absolute;
        left:500px;
        top:25px;
        cursor:pointer;

      
    }

    .box{
        width:84px;
        height:70px;
        background:var(--background-over);
        position:absolute;
        top:20px;
        left:1065px;
        border-radius:10px;
        scroll-behavior: smooth;
        
    

        svg{
            fill:red;
           position:absolute;
           top:0;
           
            width:29px;
            height:29px;
        }
        
    }

}

#map_show{
    /* background:red; */
    color:white;
    /* margin-top:45px; */
    border:transparent;
    background:linear-gradient(to left,black,var(--background-color));
   border-radius:5px;
   opacity:0.8;
    padding-top:25px;
    padding-bottom:25px;
    padding-left:5px;
    font-size:14px;
    font-family: cursive;

    
   

}


/* _______________________________________________ABOUT US ______________________________________ */

.info{
       /* background:var(--background-over); */
       position:absolute;
       top:93px;
       left:0px;
       display:flex;
       flex-direction:column;
       height:385px;
       width:700px;
       background:var(--background-over);
       padding:30px 20px;
       margin-top:10px;
       border-radius:10px;
       box-shadow: 5px 5px 5px var(--box-shadow);
    

  
    }


 .About_Us header{

    display:flex;
    flex-direction:row;
    gap:10px;
    /* border:2px solid white;  */
    padding:0px 0px;


 }   
 .About_Us p{
    font-size:20px;
    font-weight:bold;
 }

 .info #describe{
    font-size:16px;
    margin-top:10px;
    /* text-indent:20px; */
    text-align:justify;
    word-spacing:-3px;
    margin-top:20px;
    hyphens:auto;

 }



/* ______________________________________GALLERY+________________________________ */


 .gallery{
        width:429px;
        height:385px;
        background:var(--background-over);
        position:absolute;
        top:0px;
        left:721px;
        border-radius:10px;
        padding-top:18px;
        box-shadow: 5px 5px 5px var(--box-shadow);   


        header{
            display:flex;
            flex-direction:row;
            gap:10px;
            padding:0px 0px;
            margin-top:10px;
            padding-left:10px;

            p{
                font-size:20px;
                font-weight:bold;

            }
        }
     }  

.gallery #image_slider{
    border-radius:10px;
    gap:30px;
    width:380px;
    overflow-x:scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding-bottom:10px;
    display:flex;
    margin:20px 23px;

}


#image_slider::-webkit-scrollbar{
    height:5px;
   
}
#image_slider::-webkit-scrollbar-thumb{
    background: linear-gradient(to left, white, blue);
    border-radius:10px;
   

}

#image_slider img{
    scroll-behavior: smooth;
    scroll-snap-align:center;
    width:410px;
    flex-shrinK:0;
    cursor:pointer;
    border-radius:10px;
    box-shadow:0 0 3px rgb(6, 7, 47);
    border-radius:10px;
    /* box-shadow: 5px 5px 5px var(--box-shadow); */
}


/* __________________________________WHY BUY________________________________ */


.whybuy{
    width:1150px;
    height:260px;
    background:var(--background-over);
    position:absolute;
    top: 420px;
    left:0px;
    border-radius:10px;
    padding:40px 20px;
    box-shadow: 5px 5px 5px var(--box-shadow);

    
.why_do{
    font-family: arial;
    font-size:20px;
    border-left:5px solid var(--button-color);
    padding-bottom:5px;
    padding-left:15px;
    /* border-radius:5px; */
  
}

.rowflex{
 display:flex;
 font-size:14px;
 gap:10px;
 margin-top:20px;


 p{
    font-size:16px;

 }
}

}

.category{
    background:var(--background-over);
    position:absolute;
    top:715px;
    left:0px;
    height:180px;;
    width:500px;
    border-radius:10px;
    padding:20px 20px;
    box-shadow: 5px 5px 5px var(--box-shadow);

    .flex{
        display:flex;
        flex-direction:row;
        gap:15px;
        

        h3{
            font-size:20px;
            font-weight:bold;
        }
    }  
  
}

.category .flex2{
    display:flex;
    flex-direction:row;
    gap:15px;
    margin-top:20px;
    padding-left:20px;
    
    p{
        font-size:16px;
        
    }
    svg{
        fill:var(--button-color);
    }
}


.details{
     height:385px;
     width:500px;
     position:absolute;
     top:930px;
     left:0px;
     background: var(--background-over);
     border-radius:10px;
     padding:20px 20px;
     box-shadow: 5px 5px 5px var(--box-shadow);

     .flex3{
        display:flex;
        flex-direction:row;
        gap:15px;

        h3{
            font-size:20px;
            font-weight:bold;
        }

     }
     

     ul{
        list-style-type:none;
        margin-top:15px;
     }
     ul li{
        font-size:16px;
        padding:12px 0px;
        border-bottom:1px solid grey;
     }

.no-of{
    list-style-type:none;

    li{
        font-size:16px;
        padding:12px 0px;
        transform:translate(430px,-145px);
    }
    
}

}





/* ____________________________________________AMENITIES__________________________________ */


.amenities{

    position:absolute;
    top:715px;
    left:521px;
    background:var(--background-over);
    border-radius:10px;
    padding:20px 20px;
    height:600px;
    width:630px;
    box-shadow: 5px 5px 5px var(--box-shadow);

    header{
        font-size:20px;
        font-weight:bold;
        border-left:5px solid var(--button-color);
        padding-left:15px;
    }
    
    h3{
        font-size:16px;
        text-transform: uppercase;
        background:linear-gradient(to left,lightblue, blue);
        width:200px;
        margin-top:10px;
        padding-left:5px;
        margin-bottom:20px;
        border-radius:5px;
    }


    }

 .amenities .flex_row2{
  /* background:red; */
  display:flex;
  gap:10px;
  padding-right:30px;

  svg{
    fill:var(--button-color);
  }
  P{
     margin-right:20px;
     font-size:16px;
     font-weight:bold;
  }
    
 }

 .flex_column{
    display:flex;
    flex-direction:column;
   
    h2{
        font-size:20px;
        font-weight:bold;
        margin-top:20px;
        margin-bottom:20px;
        border-left:5px solid var(--button-color);
        padding-left:10px;
    }

    ul{
        list-style-type:none;
    }

    ul li{
        font-size:16px;
        position:relative;
        margin-right:10px;
        margin-bottom:10px;
        padding-left:40px;  
        font-weight:bold;

    }
    

 }
  .flex_column ul li::before{
    content:"";
    width:10px;
    height:10px;
    background-color:var(--button-color);
    position:absolute;
    top:50%;
    left:15px;
    transform:translateY(-5px);
    border-radius:50%;
    /* margin-right:10px; */

    
 }

 /* _____________________________MAP___________________________________________________ */

 .map{

     position:absolute;
    top:1350px;
    left:0px;
    background:var(--background-over);
    border-radius:10px;
    padding:20px 20px;
    height:670px;
    width:1150px;
    box-shadow: 5px 5px 5px var(--box-shadow);

   

    h2{
        font-size:20px;
        font-weight:bold;
        margin-top:20px;
        margin-bottom:20px;
        border-left:5px solid var(--button-color);
        padding-left:10px;
    }
/* 
    .map_view{
        padding-left:10px;
        padding-top:20px;
        border-radius:10px;
        width:1100px;
        height:500px;
        background:red;

    } */

    iframe{
        margin-left:30px;
        width:1050px;
        /* box-shadow: 5px 5px 5px var(--box-shadow); */

      
    }

 }

