
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --background-color:#11121a;
    --text-color:white;
    --content-color:gray;
    --button-color:rgb(62,68,254);  
    --black-color:black;
    --line-color:gray;
    --hover-color:#222533;
    --background-over:#1c1f2b; 
    --input-background-color:#141414;
    --input-border-color:#2b2b2b;
 
}

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
    color:var(--text-color);
     
    

}


body{
    background:var(--background-color);
    line-height:1.5rem;
    color:var(--text-color);
    min-height:100vh;
    min-height:100dvh;
    display:flex;
    grid-template-columns: auto 1fr;
 

}

body{
    overflow-y:auto;
    scroll-behavior: smooth;
    
}

body::-webkit-scrollbar{
    width:6px;
}

body::-webkit-scrollbar-thumb{
    background: var(--button-color);
    border-radius:10px;
}


body::-webkit-scrollbar-track {
    background:black; /* Optional: Set the track background */
}






/* ____________________________________________________________________MAIN_______________________________________________________________________ */

#welcome{
    font-size:30px;
    background-image:linear-gradient(to left,lightblue, blue);
    /* background:var(--button-color); */
    border-radius:10px;
    background-clip:text;
    color:transparent;
    padding-top:10px;
    width:350px;
    height:50px;
    text-align:center;
    position:relative;
    top:120px;
    margin-left:680px; 
}

 
/* ______________________________________________________________________HOSTEL BOX______________START_________________________________________ */
.top_offers{
    position:relative;
    left:150px;
    /* top:180px; */
    top:160px;
 
    width:400px;
    font-size:30px;
    font-weight:bolder;
    font-family: "Audiowide", sans-serif;
    border-left:7px solid var(--button-color);
    padding:10px 20px;

}

#featuring_ones{
    position:relative;
    width:400px;
    left:150px;
    /* top:220px; */
    top:220px;
    font-size:30px;
    font-weight:bolder;
    font-family: "Audiowide", sans-serif;
    border-left:7px solid var(--button-color);
    padding:10px 20px;
     /* background:red; */
     margin-bottom:40px;
}



.swiper {
    /* background:red; */
    position:relative;
    /* top: 200px; */
    top:200px;
    left: 140px;
    width: 1400px; /* Set the width of the swiper */
    height: 600px; /* Set the height of the swiper */
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background:green; */
    
}

.swiper-button-next , .swiper-button-prev{
    opacity:0;
   
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: opacity 200ms ease-in-out;
}

.swiper-button-next:hover , .swiper-button-prev:hover{
    opacity:0;
}


.swiper-button-next{
    /* top:50%; */
    transform:translateX(12px);
}

.swiper-button-prev{
    /* top:50%; */
    transform:translateX(-12px);
}

/* 
@property --angle{
	syntax:"<angle>";
	initial-value:0deg;
	inherits:false;
}

.box::before, .box::after{
	content:'';
	position:absolute;
	top:50%;
	left:50%;
	background-image:conic-gradient(from var(--angle),transparent 90%,blue, white);
	height:100%;
	width:100%;
	translate:-50% -50%;
	z-index:-1;
	padding:4px;
	animation-name:spin;
	animation:4s spin linear infinite;
}
.box::after{
	filter:blur(10px);
	opacity:0.8;
}


@keyframes spin{
	0%{
		--angle:0deg;
	}
	100%{
		--angle:360deg;
	}
}
 */


 .box,.box1{
    /* scroll-behavior: smooth;
    scroll-snap-align:center;
    box-sizing:border-box; */
    /* padding-top:30px;
    padding-left:20px; */
    /* scroll-snap-align:center; */
   
    position:absolute;
    top:5px;;
    left:5px;
    height: 540px;
    width:450px;
    flex-shrink:0;
    cursor:pointer;
    background-color:var(--background-over);
    /* box-shadow: 5px 5px 5px var(--box-shadow); */
    border-radius:5px;
    
   
    display:flex;
  
    align-items: center;
    flex-direction:column;
    
    /* gap:2px; */
    /* position:relative; */
    


 img{
    /* box-shadow:0 0 4px white; */
    /* border-radius:14px;
    border-bottom-left-radius:0px; */
    margin-top:25px;
    padding: 0 5px 0 5px;

    
}

.add_to_favorites{
    position:absolute;
    top:30px;;
    left:380px;
    fill:white;
    transition:fill 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),transform 0.3s ease-in-out;
    

}

#hostel_name{
    margin-top:25px;

}


.intro,.intro1{
    height:48px;
   
    line-height:1rem;
    width:400px;
    /* margin-left:15px; */
    
    background:#1c1f2be0;
    padding:5px 10px;
    padding-bottom:7px;
    /* box-shadow:0 0 2px grey; */
    overflow-y:scroll;
    /* overflow:hidden; */
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    border-radius:5px;
    margin-bottom:10px;
 
    
}
 



.intro::-webkit-scrollbar, .intro1::-webkit-scrollbar{
    width:3px;
   
}
.intro::-webkit-scrollbar-thumb, .intro1::-webkit-scrollbar-thumb{
    background:grey;
    border-radius:10px;
   

}
.intro p, .intro1 p{
    text-align: justify;
    letter-spacing:0.5px;
    hyphens: auto;
    line-height:0.9rem;
    text-align:start;
    color:rgba(255, 255, 255, 0.717);
    
}

}

 .box .add_to_favorites:hover{
    fill:red;
    transform:scale(1.09);
    
}

.box1 .add_to_favorites:hover{
    fill:red;
    transform:scale(1.09);
    
}


/* .box1{
    top:60px;
} */




.box, .box1{
    h2{
        text-align:center;
        font-size:18px;
        font-weight:bolder;
        /* border:1px solid green; */
        letter-spacing:1px;
        margin-top:25px;
        
       
       
    }

    p{
        /* border:1px solid red; */
        text-align:center;
        color:rgba(255, 255, 255, 0.826);
        font-size:12px;
        padding-right:10px;
        
    }
    
    h4{
        /* border:1px solid yellow; */
        width:400px;    
        padding:2px 15px;
        border-radius:5px;
        font-size:18px;
        letter-spacing: 0.7px;  
        border-left:5px solid var(--button-color);
        /* background-image:linear-gradient(to left, blue, skyblue); */

      
        border-bottom:5px solid var(--button-color); 
        
        border-radius:50%;
    }

  ul {
    
    width:400px;
    list-style-type: none;
    text-align:start;
    padding-left:10px;
    line-height:1.4em;
    font-size: 14px;
    letter-spacing: 0.5px;



  }

  
  
}


ul li:nth-child(5){
    background-image: linear-gradient(to right,white, skyblue,rgb(43, 43, 158));
    background-clip:text;
    color:transparent;
    background-size:200%;
    animation: wave 5s linear infinite;
}

@keyframes wave{
    0%{
        background-position:200% 0;

    }
    100%{
        background-position:-200% 0;

    }

}


.box_bullets svg{
    margin-right:5px;
}



.box .status , .box1 .status1{
    position:absolute;
    top:200px;
    font-family: cursive;
    left:297px;
    font-size:15px;
    color:hsla(120, 100%, 50%, 0.789);
    padding:7px 20px;
    background:var(--background-over);
 
    border:none;
    outline:none;
    border-radius:5px;
    border-top-right-radius: 0px;   
    cursor:pointer;
}





.box .rent, .box1 .rent1{
    position:absolute;
    top:485px;
    left:260px;
    font-size:20px;
    padding:7px 30px;
    background:var(--button-color);
    border:none;
    outline:none;
    border-radius:5px;
    cursor:pointer;
    
    
}








/* 
.checking{
position:absolute;
top:2000px;
left:0;
width:300px;

}
 */







/* 
.boxes::-webkit-scrollbar-thumb{
    background: linear-gradient(to left, white, blue);
    border-radius:10px;
   

} */





/* 
.box_bullets li::before{
     content: "\2022";
    color:var(--button-color);
    font-size:400%;
   vertical-align: middle;      
   margin-right:9px;                        to align the bullets with text

   
} */

 
/* .check{
    position:absolute;
    top:00px;
    left:00px;
    width:400px;
    background:red;
 } */





/*   HERE ARE THE CONNECTION TO DATABSE CSS*/


#newly_added{
    position:absolute;
    width:400px;
    left:150px;
    /* top:220px; */
   
    top:1550px;
    font-size:30px;
    font-weight:bolder;
    font-family: "Audiowide", sans-serif;
    border-left:7px solid var(--button-color);
    padding:10px 20px;
     /* background:var(--button-color); */
     margin-bottom:50px;
}

.new{
    position: absolute;
    left: 120px;
    top: 1600px;
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    width: 1500px;
    height: 600px;
    /* border: 1px solid red; */
  
   
  

}
.contain{

    position:absolute;
    top:20px;
    left:25px;
    /* z-index:10; */
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    flex-wrap:wrap;
    align-items: center;
    align-content:start;
   height:600px;
   width:1450px;
   column-gap:18px;
   row-gap:30px;
   margin-top:20px;
   /* border:1px solid green; */

}

.decoration{
    text-decoration:none;
}

.box3{
    height: 540px;
    width:450px;
    flex-shrink:0;
    cursor:pointer;
    background-color:var(--background-over);
    /* box-shadow: 5px 5px 5px var(--box-shadow); */
    border-radius:5px;
    
   
    display:flex;
  
    align-items: center;
    flex-direction:column;

    

    img{
        /* box-shadow:0 0 4px white; */
        /* border-radius:14px;
        border-bottom-left-radius:0px; */
        position:relative;
        margin-top:25px;
        padding: 0 5px 0 5px;
    
        
    }
    
    .add_to_favorites{
        position:relative;
        top:-220px;;
        left:170px;
        fill:white;
        transition:fill 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),transform 0.3s ease-in-out;
        
    
    }
    
    #hostel_name{
        margin-top:25px;
    
    }

    
.intro3{
    
    /* border:1px solid green; */
   height:48px;
    line-height:1rem;
    width:400px;
    /* margin-left:15px; */
    
    background:#1c1f2be0;
    padding:5px 10px;
    padding-bottom:7px;
    /* box-shadow:0 0 2px grey; */
    overflow-y:scroll;
    /* overflow:hidden; */
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    border-radius:5px;
    margin-bottom:10px;
 
    
}

.intro3::-webkit-scrollbar{
    width:3px;
   
}
.intro3::-webkit-scrollbar-thumb{
    background:grey;
    border-radius:10px;
   

}
.intro3 p{
    text-align: justify;
    letter-spacing:0.5px;
    hyphens: auto;
    line-height:0.9rem;
    text-align:start;
    color:rgba(255, 255, 255, 0.717);
    
}
    

}



.box3 .add_to_favorites:hover{
    fill:red;
    transform:scale(1.09);
    
}




.box3{
    h2{
        text-align:center;
        font-size:18px;
        font-weight:bolder;
        /* border:1px solid green; */
        letter-spacing:1px;
        margin-top:25px;
        
       
       
    }

    p{
        /* border:1px solid red; */
        text-align:center;
        color:rgba(255, 255, 255, 0.826);
        font-size:12px;
        padding-right:10px;
        
    }
    
    h4{
        /* border:1px solid yellow; */
        position:relative;
        /* top:50px; */
        width:400px;    
        padding:2px 15px;
        border-radius:5px;
        font-size:18px;
        letter-spacing: 0.7px;  
        border-left:5px solid var(--button-color);
        /* background-image:linear-gradient(to left, blue, skyblue); */

      
        border-bottom:5px solid var(--button-color); 
        
        border-radius:50%;
    }

  ul {
    position:absolute;
    top:417px;
    
    width:400px;
    list-style-type: none;
    text-align:start;
    padding-left:10px;
    line-height:1.4em;
    font-size: 14px;
    letter-spacing: 0.5px;



  }

  
  
}


ul li:nth-child(5){
    background-image: linear-gradient(to right,white, skyblue,rgb(43, 43, 158));
    background-clip:text;
    color:transparent;
    background-size:200%;
    animation: wave 5s linear infinite;
}

@keyframes wave{
    0%{
        background-position:200% 0;

    }
    100%{
        background-position:-200% 0;

    }

}


.box_bullets svg{
    margin-right:5px;
}



 .box3 .status3{
    position:relative;
    top:-220px;
    font-family: cursive;
    left:123px;
    font-size:15px;
    color:hsla(120, 100%, 50%, 0.789);
    padding:7px 20px;
    background:var(--background-over);
 
    border:none;
    outline:none;
    border-radius:5px;
    border-top-right-radius: 0px;   
    cursor:pointer;
}





.box3 .rent3{
    position:relative;
    top:30px;
    left:120px;
    font-size:20px;
    padding:7px 30px;
    background:var(--button-color);
    border:none;
    outline:none;
    border-radius:5px;
    cursor:pointer;
    
    
}

